@inherits LayoutComponentBase

<div class=" w-full sm:w-full md:w-[450px] justify-between items-center h-[calc(100dvh)] bg-cover bg-center" style="background-image: url('image/login1.png');">
  @Body
</div>
