<!-- ActionButton.razor -->
<div class="flex border-2 shadow-sm rounded-3xl mx-1 my-2 border-border-main p-3 bg-bg-second">
    <div class="grid grid-cols-2 w-36 gap-2 p-2 relative">
        <button @onclick="() => Attack.InvokeAsync()" class="">
            <img src="svg/sword-wound.svg" alt="" class="h-14 border-2 rounded-full border-bg-main">
        </button>
        <button @onclick="() => Defend.InvokeAsync()" class="relative top-4">
            <img src="svg/armor-upgrade-ingame.svg" alt="" class="h-12 right-7 border-2 rounded-full border-bg-main">
        </button>
        <button @onclick="() => Heal.InvokeAsync()" class="relative left-8">
            <img src="svg/cherish-ingame.svg" alt="" class="h-12 scale-105 border-2 rounded-full border-bg-main ">
        </button>
    </div>
    <div class="flex gap-3 flex-1 justify-center">
        <button @onclick="() => Ability.InvokeAsync()">
            <img src="svg/ability/topuz.svg" alt="" class="h-14 p-1 border-2 rounded-full border-bg-main">
        </button>
        <button @onclick="() => Ability1.InvokeAsync()">
            <img src="svg/ability/lotet.svg" alt="" class="h-14 border-2 p-1 rounded-full border-bg-main">
        </button>
        <button @onclick="() => Ability2.InvokeAsync()">
            <img src="svg/ability/zana.svg" alt="" class="h-14 border-2 rounded-full p-1 border-bg-main">
        </button>
    </div>
</div>


@code {
    [Parameter]
     public EventCallback Attack { get; set; }
    [Parameter]

     public EventCallback Defend { get; set; }
    [Parameter]

     public EventCallback Heal { get; set; }
    [Parameter]

     public EventCallback Ability { get; set; }
    [Parameter]

     public EventCallback Ability1 { get; set; }
    [Parameter]

     public EventCallback Ability2 { get; set; }

}
