<div class="flex w-full justify-between p-1 py-2  text-yellow-400 " style="background-color: rgba(255, 249, 249, 0.1);">
    <div class="flex items-center gap-1">
        <img src="image/icons/level-up.png" class="h-6" alt="level" />
        <p class=" font-semibold tracking-widest  text-sm">Level: @Level</p>
    </div>
    <div class=" flex justify-center items-center ">
        <p class="  font-semibold text-yellow-300 tracking-widest uppercase">Kershnik</p>
    </div>
    <div class="flex  items-center px-1">
        <p class=" font-semibold tracking-widest text-sm">Honors: @Points</p>
        <img src="image/icons/medal-of-honor.png" class="h-5" alt="points" />
    </div>
</div>


@code {
    [Parameter]

    public int Level { get; set; }

    [Parameter]
    public int Points { get; set; }
}
