@inject NavigationManager NavigationManager

<div class="flex gap-2  px-2 mb-2" >
    <div class="flex  rounded-md  text-center  px-2 flex-1 " style="background-color: rgba(255, 249, 249, 0.1);">

    <img src="image/icons/script.png" alt="" class=" h-9">
        @foreach (var message in ActionMessages)
        {
            <div class="text-white  flex  justify-center items-center text-center font-medium mb-2 w-full">
                @message
                </div>
        }
    </div>
          <div class=" h-full flex justify-center items-center rounded-lg p-1" style="background-color: rgba(255, 249, 249, 0.1);" @onclick="OnClick">
                    <img src="image/icons/logout.png" alt="" class=" h-6">
            </div>
</div>

@code {
    [Parameter]  public List<string> ActionMessages { get; set; } = new List<string>();
    
    [Parameter] public EventCallback<MouseEventArgs> OnClick { get; set; }

}
