@inject NavigationManager NavigationManager

<div class="flex justify-around items-end w-full gap-2 bg-red-700  ">
    <NavButtons OnClick="GoTraining">
        <img src="image/icons/gaming.png" class="h-9" alt="points" />
        <p>Train</p>
    </NavButtons>
    <NavButtons OnClick="GoArena">
            <img src="image/icons/adventure-game.png" class="h-12" alt="points" />
            <p>Quest</p>
    </NavButtons>
    <NavButtons OnClick="GoShop" ButtonStyle="">
        <img src="image/icons/buff.png" class="h-9" alt="" />
        <p class=" text-text-third">Upgrade</p>
    </NavButtons>

</div>

@code {

    private void GoTraining() => NavigationManager.NavigateTo("/training");
    private void GoArena() => NavigationManager.NavigateTo("/Story");
    private void GoShop() => NavigationManager.NavigateTo("/update");
}