@page "/update"
@using BlazorDex.Models
@using BlazorDex.Util

@inject HeroClient client
@inject NavigationManager NavigationManager
@inject HeroStateService HeroStateService

<PageTitle>Home</PageTitle>

<div class="w-full min-h-screen flex flex-col bg-bg-main">
    @if (HeroStateService.Hero != null)
    {
        <!-- Level and Points Section -->
        <div class="w-full p-2">
            <LevelPoints Level="@HeroStateService.Hero.Level" Points="@HeroStateService.Hero.Points" />
        </div>

        <!-- Stats and Skills Section -->
        <div class="w-full grid grid-cols-1  gap-3 p-2 flex-1">
            <!-- Hero Stats -->
            <div class=" ">
                <h2 class=" text-text-third text-center text-base mb-2">Hero Stats (<span class=" text-sm   text-white">1 honor to upgade it</span>)</h2>
                <StatsSection />
            </div>

            <!-- Hero Skills -->
            <div class=" p-2 rounded-md shadow-md">
                     <h2 class=" text-text-third text-center text-base mb-2">Hero Skills (<span class=" text-sm  text-white">5 honors to upgade it</span>)</h2>
                <Skills />
            </div>
        </div>

    
        <!-- Navigation Bar -->
        <NavigationBar />
        <!-- Level Up Toast -->
    }
    else
    {
        <p class="text-white text-xl">Failed to load Hero data.</p>
    }
</div>
